@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Images/bg.jpeg');
    background-size: 1000px;
    background-position: center center;
}
.paper
{
    position: absolute;
    background-image: url('Images/paper.webp');
    background-size: 500px;
    background-position: center center;
    padding: 20px 100px;
    transform: rotateZ(-5deg);
    box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
}
.paper.image
{
    padding: 10px;
}
.paper.image p
{
    font-size: 30px;
}
img
{
    max-height: 200px;
    width: 100%;
    user-select: none;
}
p
{
    font-family: 'zeyada';
    font-size: 50px;
    color: rgb(0, 0, 100);
    opacity: 0.75;
    user-select: none;
    filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}